<div class="grid">
    <mat-card *ngFor="let tarefa of tarefasToDo" class="mat-card-tarefa">
        <button mat-icon-button (click)="removerTarefa(tarefa.id!, tarefa.estado!)"><mat-icon>clear</mat-icon></button>
        <mat-card-content>
          <p class="line-break">
            {{tarefa.descricao}}
          </p>  
        </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let tarefa of tarefasDoing" class="mat-card-tarefa">
      <button mat-icon-button (click)="removerTarefa(tarefa.id!, tarefa.estado!)"><mat-icon>clear</mat-icon></button>
      <mat-card-content>
        <p class="line-break">
          {{tarefa.descricao}}
        </p>  
      </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let tarefa of tarefasDone" class="mat-card-tarefa">
    <button mat-icon-button (click)="removerTarefa(tarefa.id!, tarefa.estado!)"><mat-icon>clear</mat-icon></button>
    <mat-card-content>
      <p class="line-break">
        {{tarefa.descricao}}
      </p>  
    </mat-card-content>
</mat-card>
</div>
