.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 116px;
}

.mat-card-tarefa{
  margin-bottom: 10px;
  align-items: center;
  max-width: 216px; 
  background-color: rgba(51, 51, 153, 0.3);
}

.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 0px;
}

.mat-card-content {
  font-size: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.line-break {
  max-width: 216px;
  word-wrap: break-word;
} 