.descricao{
    height: 70px;
}

button{
    margin-top: 10%;
    margin-left: 55%
}

.save-button{
    border: 2px solid rgb(51, 51, 153);
}

.criar-tarefa-card{
    max-width: 200px;
    border: 5px solid rgb(51, 51, 153);
}
