<mat-card class="criar-tarefa-card">
    <mat-card-header>
        <mat-icon mat-card-avatar>sticky_note_2</mat-icon>
        <mat-card-title>Nova Tarefa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary"><mat-icon>add</mat-icon></button>
    </mat-card-content>
</mat-card>    