<div class="grid-criar-tarefa-geral">
  <div>
<mat-card class="criar-tarefa-card">
    <mat-card-header>
        <mat-icon mat-card-avatar>sticky_note_2</mat-icon>
        <mat-card-title>Novo to-do</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <textarea class="descricao" matInput [(ngModel)]="tarefa.descricao" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
        </form>
        <button class="save-button" mat-stroked-button (click)="salvarTarefa()">Salvar</button>
    </mat-card-content>
</mat-card>
  </div>
  <div>
    <app-listar-tarefa [listaTarefas]="tarefasToDo"></app-listar-tarefa>
  </div>
</div>
