.navbar {
  background-color: rgb(51, 51, 153);
  max-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sair {
  color: white;
}

.imgLogo {
  width: 75px;
  height: 65px;
}
