.navbar {
  background-color: rgb(51, 51, 153);
  max-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-div {
  display: flex;
  flex-direction: row;

  p {
    margin-top: 22px; 
  }
}

.sair {
  color: white;
  font-weight: 500;
  font-size: larger;
}

.imgLogo {
  width: 75px;
  height: 65px;
}

p {
  color: white;
  font-weight: 500;
  font-size: larger;
}